.element__image {
    width: 282px; /*котята больше не ломают вёрстку*/
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    display: block; /*стиль необходим для того, чтобы вёрстка не ломалась при сообщении в поле ввода для ссылки некорректного значения, или же значения, которое не может загрузиться*/
}