.element__subtitle {
    width: calc(100% - 15px - 21px - 22px);
    margin: 0 0 0 6px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
